.jumbotron h1 {
    color: green;
}

.jumbotron h3 {
    color: #5C4033;
    height: 200px;
}

.jumbotron {
    background-color: darkkhaki;
    margin: 0;
    padding: 30px;
    
}

#headerContainer {
    
}

h1 {
    font-family: Signika;
}

body {
   
}

.site-footer{
    background-image: linear-gradient(khaki, white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: olive;
}

.modal-header {
    background-color: darkkhaki;
    color: khaki;
}

.modal-content {
    border: solid olive;
}

.close {
    color: khaki;
}


