.jumbotron h1 {
    color: #228B22;
}

.jumbotron h3 {
    color: #228B22;
    height: 200px;
}

.jumbotron {
    background-image: url("../images/jumbo_back_newnew.png");
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 30px;
    
}

body {
    font-family: "Open Sans", sans-serif; }
  
  h1, h2, h3 {
    font-family: "Signika", cursive; }

h2 {
    color: #228B22;
}

h3, h5 {
    color: olive;
}



    .tab-content {
        border: 1px solid khaki;
        border-top: none;
        padding: 10px; }



.site-footer{
    background-image: linear-gradient(khaki, white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: transparent;
    
}





.modal-header {
    background-color: darkkhaki;
    color: khaki;
}

.modal-content {
    border: solid olive;
}

.close {
    color: khaki;
}

.homeCard {
    border: solid olive;
    height: 100%;
    
}

.productCard {
    border: solid olive;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid darkkhaki; }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }


